<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Đăng nhập</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicons/puzzle.png" rel="icon">
    <link href="img/favicons/puzzle.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1>
                    <a href="trangchu.html"><img src="img/logo/logo.png" alt="" title=""></a>
                </h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="trangchu.html">Trang Chủ</a></li>
                    <li><a href="gioithieu.html">Giới Thiệu</a></li>
                    <li><a href="lienhe.html">Liên Hệ</a></li>
                    <li><a href="thuvien.html">Blog</a></li>
                    <li><a href="dangnhap.html">Đăng Nhập</a></li>
                    <li class="menu-active"><a href="dangky.html">Đăng Ký</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->

    <main id="main">
        <section id="contact" class="section-bg wow fadeInUp">
            <form _ngcontent-nbd-c22="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="container">

                    <div class="section-header">
                        <h3>Bài sàng lọc đánh giá phát triển theo độ tuổi - ASQ®-3</h3>
                    </div>
                    <div _ngcontent-nbd-c0="" class="clearboth">
                        <router-outlet _ngcontent-nbd-c0=""></router-outlet>
                        <app-main _nghost-nbd-c11="">
                            <div _ngcontent-nbd-c11="" class="container topmargin-sm bottommargin-sm clearfix clearboth">
                                <div _ngcontent-nbd-c11="" class="content border col-padding">
                                    <router-outlet _ngcontent-nbd-c11=""></router-outlet>
                                    <app-answersheet-edit _nghost-nbd-c22="">
                                        <div _ngcontent-nbd-c22="" class="row">
                                            <div _ngcontent-nbd-c22="" class="col-12">
                                                <div _ngcontent-nbd-c22="" class="question-container mb-4">
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <div>
                                                        <h3 _ngcontent-nbd-c22="" class="field mb-1"> A. GIAO TIẾP </h3>
                                                        <!----><small _ngcontent-nbd-c22="" class="text-warning font-italic">Hãy chắc chắn thử những hoạt động này cho trẻ</small>
                                                        <!---->
                                                    </div>
                                                    <div _ngcontent-nbd-c22="" class="ng-untouched ng-pristine ng-valid">
                                                        <!---->
                                                        <div _ngcontent-nbd-c22="" class="ng-untouched ng-pristine ng-valid">
                                                            <!---->
                                                            <!---->
                                                            <h4 _ngcontent-nbd-c22="">Câu 1</h4>
                                                            <app-asq-question-view _ngcontent-nbd-c22="" formcontrolname="selectedOptionId" _nghost-nbd-c23="" class="ng-untouched ng-pristine ng-valid">
                                                                <div _ngcontent-nbd-c23="">
                                                                    <p><span style="color: rgb(35, 31, 32);">Không ra hiệu hoặc dùng cử chỉ điệu bộ, bạn hãy yêu cầu con: “Con đặt sách </span><em style="color: rgb(35, 31, 32);">trên </em><span style="color: rgb(35, 31, 32);">bàn” và “Con đặt giày </span>
                                                                        <em style="color: rgb(35, 31, 32);">dưới </em><span style="color: rgb(35, 31, 32);">ghế”. Con của bạn có thực hiện đúng cả 2 mệnh lệnh này không?</span></p>
                                                                </div>
                                                                <!---->
                                                                <!---->
                                                                <!---->
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                                                                    <label class="custom-control-label" for="defaultUnchecked">Có</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                                                                    <label class="custom-control-label" for="defaultChecked">Thỉnh thoảng</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                                                                    <label class="custom-control-label" for="defaultChecked">Chưa</label>
                                                                </div>
                                                                <!---->
                                                                <!---->
                                                            </app-asq-question-view>
                                                            <!---->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </app-answersheet-edit>
                                </div>
                                <div _ngcontent-nbd-c11="" class="content border col-padding">
                                    <router-outlet _ngcontent-nbd-c11=""></router-outlet>
                                    <app-answersheet-edit _nghost-nbd-c22="">
                                        <div _ngcontent-nbd-c22="" class="row">
                                            <div _ngcontent-nbd-c22="" class="col-12">
                                                <div _ngcontent-nbd-c22="" class="question-container mb-4">
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <div>
                                                        <h3 _ngcontent-nbd-c22="" class="field mb-1"> B. VẬN ĐỘNG THÔ </h3>
                                                        <!----><small _ngcontent-nbd-c22="" class="text-warning font-italic">Hãy chắc chắn thử những hoạt động này cho trẻ</small>
                                                        <!---->
                                                    </div>
                                                    <div _ngcontent-nbd-c22="" class="ng-untouched ng-pristine ng-valid">
                                                        <!---->
                                                        <div _ngcontent-nbd-c22="" class="ng-untouched ng-pristine ng-valid">
                                                            <!---->
                                                            <!---->
                                                            <h4 _ngcontent-nbd-c22="">Câu 2</h4>
                                                            <app-asq-question-view _ngcontent-nbd-c22="" formcontrolname="selectedOptionId" _nghost-nbd-c23="" class="ng-untouched ng-pristine ng-valid">
                                                                <div _ngcontent-nbd-c23="">
                                                                    <p><span style="color: rgb(35, 31, 32);">Con của bạn có thể đứng một chân trong khoảng 1 giây mà không cần vịn vào bất cứ vật gì không?</span></p>
                                                                    <p></p><span style="color: rgb(35, 31, 32);"><span class="ql-cursor"></span></span><img src="img/download.jpg"></p>
                                                                </div>
                                                                <!---->
                                                                <!---->
                                                                <!---->
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                                                                    <label class="custom-control-label" for="defaultUnchecked">Có</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                                                                    <label class="custom-control-label" for="defaultChecked">Thỉnh thoảng</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                                                                    <label class="custom-control-label" for="defaultChecked">Chưa</label>
                                                                </div>
                                                                <!---->
                                                                <!---->
                                                            </app-asq-question-view>
                                                            <!---->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </app-answersheet-edit>
                                </div>
                            </div>
                        </app-main>
                    </div>
                    <div _ngcontent-nbd-c22="" class="form-group clearfix fixed-btn-bar" id="btn-bar">
                        <div _ngcontent-nbd-c22="" class="fright"><button _ngcontent-nbd-c22="" appmobileclass="button-small" class="button button-rounded button-aqua mr-2 ml-0" type="button"> Lưu và thoát </button><button _ngcontent-nbd-c22="" appmobileclass="button-small" class="button button-rounded nomargin"
                                type="button"> Xem kết quả </button></div>
                    </div>

                </div>
            </form>
        </section>
        <!-- #contact -->
    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>
                            <a href="trangchu.html"><img src="img/logo/logo.png" alt="" title=""></a>
                        </h3>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat
                            mauris nunc congue.</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            A108 Adam Street <br> New York, NY 535022<br> United States <br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>

</html>